
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    
}

.content-main{
    width: 650px;
}

.content-main p {
    width: 530px;
    font-size: 18px;
    color: var(--color-1_gray);
    font-family: var(--font-family-body);
    line-height: 30px;
}
.content-main h1 {
   font-family: var(--font-family-title);
   font-weight: 700;
   font-size: 60px;
   line-height: 60px;
   color:var(--color-dark);
   margin-bottom: 24px;
}

.content-main span {
    font-weight: 600;
    font-size: 60px;
    color: var(--color-orange);
    
    
}

.buttons-main{
    font-family: var(--font-family-title);
    font-family: var();
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
  

.left-button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 15px 3px;
    font-size: 18px;
  text-decoration: none;
}
.right-button{
    background-color: #EA6D27;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 15px 3px;
    font-size: 18px;
    text-decoration: none;
  

}
