
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    
}

.content-main{
    width: 650px;
}

.content-main p {
    width: 530px;
    font-size: 18px;
    color: #5C6574;
}
.content-main h1 {
   
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: black;
    margin-bottom: 24px;
}

.content-main span {
    font-weight: 600;
    font-size: 60px;
    line-height: 24px;
    color: #EA6D27;


}

.buttons-main{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
  

.left-button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 15px 3px;
    font-size: 18px;
  text-decoration: none;
}
.right-button{
    background-color: #EA6D27;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 15px 3px;
    font-size: 18px;
    text-decoration: none;
  

}
